{{>header}}
{{>navbar}}

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 white">
        
        {{#each music}}
        <div class="col">
          <div class="card shadow-sm">
            <img src='{{this.cover_music}}' alt='' class='list-thumbnail'/>

            <div class="card-body">
              <p class="card-text">{{this.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/detailMusic/{{this.id}}" class="btn btn-sm" style="background-color: #08de04; color: white; font-weight:bold;">View</a>
                  <a href="/deleteMusic/{{this.id}}" class="btn btn-sm btn-danger" style="font-weight:bold;">Delete</a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

</main>

{{>footer}}